<%- include('../layout-admin/header') -%>
<div class="row">
    <!--begin::Tables Widget-->
    <div class="card col-11 mb-5 mb-xl-8 mt-10" style="margin: 0 auto;">
        <!--begin::Body-->
        <div class="card-body py-3">
               <!--begin:Form-->
    <form class="form" name="show">
        <br>
        <!--begin::Heading-->
        <div class="mb-13 text-center">
            <!--begin::Title-->
            <h1 class="mb-3">مشخصات فاکتور</h1>
            <!--end::Title-->
            <!--begin::Description-->
            <!-- <div class="text-muted fw-bold fs-5">If you need more info, please check
                <a href="#" class="fw-bolder link-primary">Project Guidelines</a>.
            </div> -->
            <!--end::Description-->
        </div>
        <!--end::Heading-->
        <!--begin::Input group-->
        <div class="d-flex flex-column mb-8 fv-row">
            <div class="card card-flush shadow-sm">
                <div class="card-header">
                    <h1 class="card-title">کد فاکتور : <span class="card-title ms-2" id="factorCode">
                        <span class="card-title ms-2" id="factorCode"><span class="badge badge-light-info fs-5"><%= data?.code  %></span></span> </span></h1>
                    <span class="card-title ms-2" id="factorCondition">
                        <% { %>
                           
                            <% if(data.status==1) {%><span class="badge badge-info float-end">ایجاد شده</span><% } %>
                            <% if(data.status==2) {%><span class="badge badge-primary float-end">در انتظار پرداخت</span><% } %>
                            <% if(data.status==3) {%><span class="badge badge-danger float-end">انصراف از پرداخت</span><% } %>
                            <% if(data.status==4) {%><span class="badge badge-warning float-end">منقضی شده</span><% } %>
                            <% if(data.status==5) {%><span class="badge badge-success float-end">پرداخت شده</span><% } %>
                            </h1>
                            <!--end::Title-->
                            <% } %>
                    </span>
                </div>
            </div>
        </div>

        <% if(data?.detail){ %>
        <div class="d-flex flex-column mb-8 fv-row">
            <div class="card card-flush shadow-sm p-3">
                <div class="card-header">
                    <div class="row">
                        <div class="mt-5">
                            <h5>نام و نام خوانوادگی:</h5>
                            <%= data?.detail.fullName %>
                        </div>
                        <div class="mt-5">
                            <h5>شماره موبایل:</h5>
                            <%= data?.detail.mobile %>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="mt-5">
                            <h5>استان:</h5>
                            <%= data?.detail.province %>
                        </div>
                        <div class="mt-5">
                            <h5>شهر:</h5>
                            <%= data?.detail.city %>
                        </div>
                    </div>

                    <div class="row">
                        <div class="mt-5">
                            <h5>آدرس: </h5>
                            <%= data?.detail.address %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% } %>

        <input type="hidden" id="factor_code" value="<%= data.code %>">
        <!--end::Input group-->
        <!--begin::Input group-->
        <!--begin::Table container-->
        <div class="table-responsive" style="direction: rtl;">
            <!--begin::Table-->
            <table class="table align-middle gs-0 gy-4" id="showProduct">
                <!--begin::Table head-->
                <thead class="bg-table">
                    <tr class="fw-bolder text-muted bg-light bg-table w-100">
                        <th class="ps-4 min-w-50px rounded-start">#</th>
                        <th class="min-w-50px text-center">نام محصول</th>
                        <th class="min-w-50px text-center">تعداد</th>
                        <th class="min-w-50px rounded-end text-center" style="margin-right: -10px;">قیمت</th>
                    </tr>
                </thead>
                <!--end::Table head-->
                <!--begin::Table body-->
                <tbody id="show-factor">
                    <% // function for template 000,000
                    function separate(Number) { Number+='' ; Number=Number.replace(',', '' );
                    x=Number.split('.'); y=x[0]; z=x.length> 1 ? '.' + x[1] : '';
                    var rgx = /(\d+)(\d{3})/;
                    while (rgx.test(y))
                    y= y.replace(rgx, '$1' + ',' + '$2');
                    return y+ z;
                    }
                    let counter =1;
                    data.products.forEach(item=> {%>
                    <tr>
                        <td>
                            <div class="d-flex align-items-center" style="margin-right: 10px;">
                                <div class="d-flex justify-content-start flex-column">
                                    <span class="text-dark fw-bolder text-hover-primary mb-1 fs-6">
                                        <span class="badge badge-circle badge-light"><%= counter %></span>
                                    </span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex align-items-center justify-content-center">
                                <div class="d-flex justify-content-start flex-column">
                                    <span class="text-dark fw-bolder text-hover-primary mb-1 fs-6">
                                        <%= item.title %>
                                    </span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex align-items-center justify-content-center">
                                <div class="d-flex justify-content-start flex-column">
                                    <span class="text-dark fw-bolder text-hover-primary mb-1 fs-6">
                                        <%= item.count %>
                                    </span>
                                </div>
                            </div>
                        </td>
                        <td class="text-end">
                            <div class="d-flex align-items-center justify-content-center">
                                <div class="d-flex justify-content-start flex-column">
                                    <span class="text-dark fw-bolder text-hover-primary mb-1 fs-6"
                                        style="margin-left: 33px;">
                                        <%= separate(item.price) %>
                                    </span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <% counter++ }); %>
                </tbody>
                <!--end::Table body-->
            </table>
            <!--end::Table-->
        </div>
        <br>
          <%{ let ave=0; let offer=data.offPercent; data.products.forEach(i=> {
                    ave += parseInt(i.price*i.count);
                    });
                    function separate(Number)
                    {
                    Number+= '';
                    Number= Number.replace(',', '');
                    x = Number.split('.');
                    y = x[0];
                    z= x.length > 1 ? '.' + x[1] : '';
                    var rgx = /(\d+)(\d{3})/;
                    while (rgx.test(y))
                    y= y.replace(rgx, '$1' + ',' + '$2');
                    return y+ z;
                    }
                    let sum = (ave / 100) * (100-offer); %>
        <!--end::Table container-->
        <div class="d-flex flex-column mb-8 fv-row">
            <div id="offerPrice" class="d-flex align-items-center" style="margin-right: 10px;">
                <div class="d-flex justify-content-start">
                    <span class="text-dark fw-bolder text-hover-primary mb-1 fs-6" id="sumPrice">
                    </span>
                </div>
                <div class="d-flex justify-content-end ms-auto">
                    <span class="text-dark fw-bolder text-hover-primary mb-1 fs-6" id="offer-Price"
                        style="margin-left: 10px;">
                    </span>
                </div>
            </div>
            <div id="offerPrice" class="d-flex align-items-center" style="margin-right: 10px;">
                <div class="d-flex justify-content-start">
                    <span class="text-dark fw-bolder text-hover-primary mb-1 fs-6" id="sumPrice"><span class="badge badge-light">مجموع:<span class="badge text-info"> 76,000 تومان </span></span></span>
                </div>
                <div class="d-flex justify-content-end ms-auto">
                    <span class="text-dark fw-bolder text-hover-primary mb-1 fs-6" id="offer-Price" style="margin-left: 10px;"><span class="badge badge-light">تخفیف:<span class="badge text-muted"><%= data.offPercent %>%</span> </span></span>
                </div>
            </div>
            <% if(data.description != ""){ %> <div id="description-factor"><br><p class="alert">توضیجات فاکتور: <%= data.description %></p></div> <% } %>
            <div id="pricefinal"
                class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 mt-5 position-relative"
                style="overflow: hidden; z-index: 1 !important;">
                <!--begin::Number-->
                <div class="d-flex align-items-center justify-content-center" id="final-Price">
                </div>
                <!--end::Number-->

                <!--begin::Label-->
                <div class="d-flex align-items-center justify-content-center">
                    <div class="fs-2 fw-bolder text-primary counted" data-kt-countup="true" data-kt-countup-value="0"><%= separate(sum) %></div> <span class="text-primary ms-2 fs-2 fw-bolder">تومان</span>
                </div>
                <div class="fw-bold fs-6 text-center">قیمت نهایی</div>
                <!--end::Label-->
            </div>
        <!--end::Input group-->
        <!--end::Actions-->
    </form>
    
    <% if(data.status == 5){ %>
        <div>
            <br>
            <p class="alert alert-success">مشتری هزینه فاکتور رو پرداخت کرده:) الان وقتشه مرسوله رو واسش ارسال کنی و کد رهگیری بستشو این پایین بزنی تا براش پیامک بشه!</p>
            <input type="number" id="tracking-code" class="form-control form-control-solid">
            <button type="button" class="btn btn-success mt-5 d-block d-md-inline w-100" id="send-tracking-code">ارسال کد رهگیری</button>
        </div>
        <% } %>
    </div>
    <% } %>
    <br>
    <div class="text-center">
        <button class="btn btn-info me-3" id="copyBtn" factor_code_copy="<%= data.code %>"><i class="fas fa-solid fa-copy"></i>ذخیره در کلیبورد</button>
        <a href="/admin/factor" class="btn btn-light me-3">بازگشت</a>
    </div>
    <!--end:Form-->
        </div>
        <br><br>
        <!--begin::Body-->
    </div>
  
</div>

<script>
         const base = "https://api.dastakapp.ir/api/v1/"
            function clipboard(code) {
            navigator.clipboard.writeText("dastakapp.ir/factor/" + code);
            toastr.success("<a style='font-size: 12px' href='http://dastakapp.ir/factor/" + code + "'>" + code + "</a>" + " : لینک فاکتور در کلیپ بورد کپی شد");
        }
       $("#copyBtn").click(()=>{
                    clipboard($("#copyBtn").attr("factor_code_copy"))
                    })

                $(document).ready(()=>{
                    $("#send-tracking-code").click(()=>{
                        let factor_code = $("#copyBtn").attr("factor_code_copy")
                        let tracking_code = $("#tracking-code").val()
                        if(!tracking_code || tracking_code == "" || tracking_code.length != 24){
                            toastr.error("کد رهگیری وارد شده صحیح نیست")
                        } else{
                            var myHeaders = new Headers();
            myHeaders.append("Content-Type", "application/json");
            
            var raw = JSON.stringify({ code: factor_code, trackingCode:tracking_code });

            var requestOptions = {
                method: "post",
                headers: myHeaders,
                body: raw,
                redirect: 'follow',
                'Access-Control-Allow-Origin': '*'
            };
            // console.log(requestOptions)
            fetch(base + "factor-detail/add-tracking-code", requestOptions).then(response => response.text())
                .then(result => {
                    result = JSON.parse(result)
                    
                    if(result.status){
                        toastr.success("کد رهگیری برای مشتری پیامک شد:)")
                        // 
                        setTimeout(()=>{location.reload()}, 1500)
                    }else{
                        toastr.error("یه مشکل وجود داره!")
                    }
                    console.log(result)
                }).catch(error => console.log('error', error));
                        }
                    })
                })
</script>
 
    <%- include('../layout-admin/footer') -%>