<!DOCTYPE html>
<!--
Author: Keenthemes
Product Name: Metronic - Bootstrap 5 HTML, VueJS, React, Angular & Laravel Admin Dashboard Theme
Purchase: https://1.envato.market/EA4JP
Website: http://www.keenthemes.com
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
License: For each use you must have a valid license purchased only from above link in order to legally use the theme for your project.
-->
<html lang="en">
<!--begin::Head-->

<head>
    <base href="../../">
    <title>ورود به دستــک</title>
    <meta name="description"
        content="دستک یک سامانه کاربردی برای فروشنده های اینترنتیه! اگه از شماره کارت دادن توی دایرکت و پیوی خسته شدی دستک واست یه پیشنهاد جذاااب داره!" />
    <meta name="keywords" content="دستک ، فاکتورساز ، فاکتورساز آنلاین" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="دستک؛ فاکتوری با قابلیت های جادویی!" />
    <meta property="og:url" content="https://keenthemes.com/metronic" />
    <meta property="og:site_name" content="دستک | فاکتورساز دیجیتالی" />
    <link rel="canonical" href="https://preview.keenthemes.com/metronic8" />
    <link rel="shortcut icon" href="assets/media/logos/favicon.ico" />
    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <!--end::Fonts-->

    <link href="assets/plugins/custom/prismjs/prismjs.bundle.rtl.css" rel="stylesheet" type="text/css" />
    <link href="assets/plugins/global/plugins.bundle.rtl.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/style.bundle.rtl.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="assets/css/rtl.css">
    <link href="assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css"/>
</head>
<!--end::Head-->
<!--begin::Body-->

<body id="kt_body" class="bg-body" dir="rtl" style="max-height: 100%; overflow: hidden;"> 
    <!--begin::Main-->
    <div class="d-flex flex-column flex-root">
        <!--begin::Authentication - Sign-in -->
        <div
            class="d-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed">
            <!--begin::Content-->
            <div class="d-flex flex-center flex-column flex-column-fluid pb-lg-20" >
                <!--begin::Logo-->
                <!-- <a href="../../demo9/dist/index.html" class="mb-12">
						<img alt="Logo" src="assets/media/logos/logo-1.svg" class="h-40px" />
					</a> -->
                <!--end::Logo-->
                <!--begin::Wrapper-->
                <div class="w-80 w-lg-500px bg-body rounded shadow-sm p-10 p-lg-15 mx-auto"  style="margin-top: 40px;">
                    <!--begin::Form-->
                    <!-- <form class="form w-100" novalidate="novalidate" id="kt_sign_in_form" action="#"> -->
                    <!--begin::Heading-->
                    <div class="text-center mb-10" id="title">
                        <!--begin::Title-->
                        <% { %>
                        <h1 class="mb-3 text-start"><%= data.account.name  %> 
                        <% if(data.status==1) {%><span class="badge badge-info float-end">ایجاد شده</span><% } %>
                        <% if(data.status==2) {%><span class="badge badge-primary float-end">در انتظار پرداخت</span><% } %>
                        <% if(data.status==3) {%><span class="badge badge-danger float-end">انصراف از پرداخت</span><% } %>
                        <% if(data.status==4) {%><span class="badge badge-warning float-end">منقضی شده</span><% } %>
                        <% if(data.status==5) {%><span class="badge badge-success float-end">پرداخت شده</span><% } %>
                        </h1>
                        <!--end::Title-->
                        <% } %>
                    </div>
                    <!--end::Heading-->
                    <div class="fv-row mb-10" id="mobile-item">
                        <!--begin::Table container-->
                        <div class="table-responsive" id="showProduct" style="direction: rtl; max-height: 300px; overflow-y: scroll; ;">
                            <!--begin::Table-->
                            <table class="table align-middle gs-0 gy-4">
                                <!--begin::Table head-->
                                <thead class="bg-table">
                                    <tr class="fw-bolder text-muted bg-light bg-table">
                                        <th class="ps-4 min-w-50px rounded-start">#</th>
                                        <th class="min-w-20px text-center">نام محصول</th>
                                        <th class="min-w-20px rounded-end text-end pe-7">قیمت</th>
                                    </tr>
                                </thead>
                                <!--end::Table head-->
                                <!--begin::Table body-->
                                <tbody>
                                    <% // function for template 000,000
                                        function separate(Number) { Number+='' ; Number=Number.replace(',', '' );
                                        x=Number.split('.'); y=x[0]; z=x.length> 1 ? '.' + x[1] : '';
                                        var rgx = /(\d+)(\d{3})/;
                                        while (rgx.test(y))
                                        y= y.replace(rgx, '$1' + ',' + '$2');
                                        return y+ z;
                                        }
                                        let counter =1;
                                        data.factor_items.forEach(item=> {%>
                                        <tr>
                                            <td>
                                                <div class="d-flex align-items-center" style="margin-right: 10px;">
                                                    <div class="d-flex justify-content-start flex-column">
                                                        <span class="text-dark fw-bolder text-hover-primary mb-1 fs-6">
                                                            <span class="badge badge-circle badge-light"><%= counter %></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="d-flex align-items-center justify-content-center">
                                                    <div class="d-flex justify-content-start flex-column">
                                                        <span class="text-dark fw-bolder text-hover-primary mb-1 fs-6">
                                                            <%= item.product.title %>
                                                        </span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-end">
                                                <div class="d-flex align-items-center justify-content-end">
                                                    <div class="d-flex justify-content-start flex-column">
                                                        <span class="text-dark fw-bolder text-hover-primary mb-1 fs-6"
                                                            style="margin-left: 10px;">
                                                            <%= separate(item.product.price) %>
                                                        </span>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <% counter++ }); %>
                                </tbody>
                          
                                <!--end::Table body-->
                            </table>
                                <!--end::Table-->
                        </div>
                        <!--end::Table container-->
                    </div>

                    <%{ let ave=0; let offer=data.off_percent; data.factor_items.forEach(i=> {
                    ave += parseInt(i.product.price);
                    });
                    function separate(Number)
                    {
                    Number+= '';
                    Number= Number.replace(',', '');
                    x = Number.split('.');
                    y = x[0];
                    z= x.length > 1 ? '.' + x[1] : '';
                    var rgx = /(\d+)(\d{3})/;
                    while (rgx.test(y))
                    y= y.replace(rgx, '$1' + ',' + '$2');
                    return y+ z;
                    } %>
                    <div id="offerPrice" class="d-flex align-items-center" style="margin-right: 10px;">
                        <div class="d-flex justify-content-start">
                            <span class="text-dark fw-bolder text-hover-primary mb-1 fs-6">
                                <span class="badge badge-light">مجموع:<span class="badge text-info">
                                        <%= separate(ave) %> تومان
                                    </span></span>
                            </span>
                        </div>
                        <div class="d-flex justify-content-end ms-auto">
                            <span class="text-dark fw-bolder text-hover-primary mb-1 fs-6"
                                style="margin-left: 10px;">
                                <span class="badge badge-light">تخفیف:<span class="badge text-muted">
                                        <% if(offer==null){ %>
                                            ندارد
                                        <% } else{ %>
                                            <%=offer+"%" %>  
                                        <%}%>      
                                    </span></span>
                            </span>
                        </div>
                    </div>
                    <% } %>
                    <div id="pricefinal" class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 mt-5 position-relative" style="overflow: hidden; z-index: 1 !important;">
                        <!-- <div class="left-semi-circle"></div>
                        <div class="right-semi-circle"></div> -->
                        <% { let ave=0; let offer=data.off_percent; data.factor_items.forEach(i=> {
                            ave += parseInt(i.product.price);
                            }); 
                            let finalPrice = ave/100*(100-data.off_percent)
                            %>
                        <!--begin::Number-->
                        <div class="d-flex align-items-center justify-content-center">
                            <div class="fs-2 fw-bolder text-primary" data-kt-countup="true"data-kt-countup-value="<%=finalPrice %>">0</div> <span class="text-primary ms-2 fs-2 fw-bolder">تومان</span>
                        </div>
                        <!--end::Number-->

                        <!--begin::Label-->
                        <div class="fw-bold fs-6 text-center">قیمت نهایی</div>
                        <!--end::Label-->
                        <% } %>
                    </div>
                    <br>
                    <div class="text-center d-block">
                        <!--begin::Submit button-->
                        <div>
                            <button id="submit" style="margin-right: -12px;" class="btn btn-lg btn-success w-100">
                                <span class="indicator-label">پرداخت</span>
                                <span class="indicator-progress">چند لحظه وایسا...</span>
                                <!-- <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span> -->
                            </button>
                        </div>
                    </div>
                    <div id="form" style="display: none;">
                        <!--begin:Form-->
                        <form class="form">
                            <!--begin::Input group-->
                            <div class="fv-row mb-7" dir="rtl">
                                <!--begin::Label-->
                                <label class="required fs-6 fw-bold mb-2">نام و نام خانوادگی: </label>
                                <!--end::Label-->
                                <!--begin::Input-->
                                <input type="text" class="form-control form-control-solid" placeholder="نام و نام خانوادگی"/>
                                <!--end::Input-->
                            </div>
                            <!--end::Input group-->
                            <!--begin::Input group-->
                            <div class="fv-row mb-7" dir="rtl">
                                <!--begin::Label-->
                                <label class="required fs-6 fw-bold mb-2">شماره تماس: </label>
                                <!--end::Label-->
                                <!--begin::Input-->
                                <input type="text" class="form-control form-control-solid" placeholder="شماره تماست"/>
                                <!--end::Input-->
                            </div>
                            <!--end::Input group-->
                            <!--begin::Input group-->
                            <div class="fv-row mb-7" dir="rtl">
                                <!--begin::Label-->
                                <label class="fs-6 fw-bold mb-2">کد پستی: </label>
                                <!--end::Label-->
                                <!--begin::Input-->
                                <input type="text" class="form-control form-control-solid" placeholder="کد پستی" />
                                <!--end::Input-->
                            </div>
                            <!--end::Input group-->
                            <!--begin::Input group-->
                            <div class="fv-row mb-7" dir="rtl">
                                <!--begin::Label-->
                                <label class="required fs-6 fw-bold mb-2">ادرس: </label>
                                <!--end::Label-->
                                <!--begin::Input-->
                                <input type="text" class="form-control form-control-solid" placeholder="ادرستو اینجا بنویس" />
                                <!--end::Input-->
                            </div>
                            <!--end::Input group-->
                            <!--begin::Input group-->
                            <div class="fv-row mb-7" onclick="clipboard('6219861955206912')">
                                <!--begin::Dropzone-->
                                <div class="dropzone-card">
                                    <!--begin::Message-->
                                    <div class="dz-message">
                                        <!--begin::Icon-->
                                        <i class="fas fa-regular fa-credit-card text-primary fs-3x"></i>
                                        <!--end::Icon-->

                                        <!--begin::Info-->
                                        <div class="ms-20">
                                            <h3 class="fs-5 fw-bolder text-primary mb-1 text-center">6219 8619 5520 6912</h3>
                                            <h3 class="mb-1 text-center">
                                                <span class="fs-7 fw-bold text-gray-400 text-center">به نام: علی جوشقانی</span>
                                            </h3>
                                        </div>
                                        <!--end::Info-->
                                    </div>
                                </div>
                                <!--end::Dropzone-->
                            </div>
                            <!--end::Input group-->
                            <!--begin::Input group-->
                            <div class="fv-row mb-7">
                                <!--begin::Dropzone-->
                                <div class="dropzone" id="dropcoll">
                                    <!--begin::Message-->
                                    <div class="dz-message needsclick">
                                        <!--begin::Icon-->
                                        <i class="bi bi-file-earmark-arrow-up text-primary fs-3x"></i>
                                        <!--end::Icon-->

                                        <!--begin::Info-->
                                        <div class="ms-4">
                                            <h3 class="fs-5 fw-bolder text-gray-900 mb-1 text-center">عکس رسیدتو اینجا اپلود کن</h3>
                                            <span class="fs-7 fw-bold text-gray-400 text-center">مراقب باش حجم عکس بیشتر از 5 مگ نشه;)</span>
                                        </div>
                                        <!--end::Info-->
                                    </div>
                                </div>
                                <!--end::Dropzone-->
                            </div>
                            <!--end::Input group-->
                            <!--begin::Actions-->
                            <!--end::Actions-->
                        </form>
                        <div class="text-center">
                            <button data-bs-dismiss="modal" class="btn btn-light me-3" id="close">انصراف</button>
                            <button class="btn btn-primary" id="verify"">
                                <span class=" indicator-label">ثبت مشخصات</span>
                                <span class="indicator-progress">کمی صبر...
                                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                            </button>
                        </div>
                        <!--end:Form-->
                    </div>
                    <!--start::Actions-->
                    <!--begin::Accordion-->
                    <div class="accordion accordion-icon-toggle" id="kt_accordion_2" style="display: none;">
                        <!--begin::Item-->
                        <div class="mb-5">
                            <!--begin::Header-->
                            <div class="accordion-header py-3 d-flex">
                                <button class="btn btn-lg btn-light-dark w-50" style="padding: 10px;" id="btnCard" data-bs-toggle="collapse" data-bs-target="#kt_accordion_2_item_1">
                                    <span class="indicator-label">کارت به کارت</span>
                                    <i class="fas fa-regular fa-credit-card fs-4 ms-4"></i>
                                </button>
                                <button class="btn btn-lg btn-light-dark w-50 ms-5" style="padding: 10px;">
                                    <span class="indicator-label">پرداخت آنلاین</span>
                                    <i class="fas fa-solid fa-globe fs-4 ms-4"></i>
                                    <span class="indicator-progress">چند لحظه وایسا...</span>
                                    <!-- <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span> -->
                                </button>
                            </div>
                            <!--end::Header-->

                            <!--begin::Body-->
                            <div id="kt_accordion_2_item_1" class="fs-6 collapse" data-bs-parent="#kt_accordion_2">
                                <div class="card-payment">
                                    <div class="card-inner-payment">
                                        <div class="card-front-payment">
                                        <div class="card-bg-payment"></div>
                                        <div class="card-glow-payment"></div>
                                        <svg
                                            width="72"
                                            height="24"
                                            viewBox="0 0 72 24"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                            class="logo-payment"
                                        >
                                            <path
                                            fill-rule="evenodd"
                                            clip-rule="evenodd"
                                            d="M52.3973 1.01093L51.5588 5.99054C49.0448 4.56717 43.3231 4.23041 43.3231 6.85138C43.3231 7.89285 44.6177 8.60913 46.178 9.47241C48.5444 10.7817 51.5221 12.4291 51.5221 16.062C51.5221 21.8665 45.4731 24 41.4645 24C37.4558 24 34.8325 22.6901 34.8325 22.6901L35.7065 17.4848C38.1115 19.4688 45.4001 20.032 45.4001 16.8863C45.4001 15.5645 43.9656 14.785 42.3019 13.8811C40.0061 12.6336 37.2742 11.1491 37.2742 7.67563C37.2742 1.30988 44.1978 0 47.1132 0C49.8102 0 52.3973 1.01093 52.3973 1.01093ZM66.6055 23.6006H72L67.2966 0.414276H62.5732C60.3923 0.414276 59.8612 2.14215 59.8612 2.14215L51.0996 23.6006H57.2234L58.4481 20.1566H65.9167L66.6055 23.6006ZM60.1406 15.399L63.2275 6.72235L64.9642 15.399H60.1406ZM14.7942 16.3622L20.3951 0.414917H26.7181L17.371 23.6012H11.2498L6.14551 3.45825C2.83215 1.41281 0 0.807495 0 0.807495L0.108643 0.414917H9.36816C11.9161 0.414917 12.1552 2.50314 12.1552 2.50314L14.1313 12.9281L14.132 12.9294L14.7942 16.3622ZM25.3376 23.6006H31.2126L34.8851 0.414917H29.0095L25.3376 23.6006Z"
                                            fill="white"
                                            />
                                        </svg>
                                        <div class="card-contactless-payment">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="46" height="56">
                                            <path
                                                fill="none"
                                                stroke="#f9f9f9"
                                                stroke-width="6"
                                                stroke-linecap="round"
                                                d="m35,3a50,50 0 0,1 0,50M24,8.5a39,39 0 0,1 0,39M13.5,13.55a28.2,28.5
                                0 0,1 0,28.5M3,19a18,17 0 0,1 0,18"
                                            />
                                            </svg>
                                        </div>
                                        <div class="card-chip-payment"></div>
                                        <div class="card-holder-payment">John Doe</div>
                                        <div class="card-number-payment">1234 5678 9000 1234</div>
                                        <div class="card-valid-payment">12/24</div>
                                        </div>
                                        <div class="card-back-payment">
                                        <div class="card-signature-payment">John Doe</div>
                                        <div class="card-seccode-payment">123</div>
                                        </div>
                                    </div>
                                </div>
                                <!--begin::Form-->
                                <form class="form" action="#" method="post">
                                    <!--begin::Input group-->
                                    <div class="fv-row">
                                        <!--begin::Dropzone-->
                                        <div class="dropzone" id="dropcoll">
                                            <!--begin::Message-->
                                            <div class="dz-message needsclick">
                                                <!--begin::Icon-->
                                                <i class="bi bi-file-earmark-arrow-up text-primary fs-3x"></i>
                                                <!--end::Icon-->

                                                <!--begin::Info-->
                                                <div class="ms-4">
                                                    <h3 class="fs-5 fw-bolder text-gray-900 mb-1 text-center">عکس رسیدتو اینجا اپلود کن</h3>
                                                    <span class="fs-7 fw-bold text-gray-400 text-center">مراقب باش حجم عکس بیشتر از 5 مگ نشه;)</span>
                                                </div>
                                                <!--end::Info-->
                                            </div>
                                        </div>
                                        <!--end::Dropzone-->
                                    </div>
                                    <!--end::Input group-->
                                </form>
                                <!--end::Form-->
                            </div>
                            <!--end::Body-->
                        </div>
                        <!--end::Item-->
                    </div>
                    <!--end::Accordion-->
                    <!--end::Actions-->
                    <!--end::Actions-->
                </div>
                <!--end::Wrapper-->
            </div>
            <!--end::Content-->
            <!--begin::Footer-->
            <div class="d-flex flex-center flex-column-auto p-10">
                <!--begin::Links-->
                <!-- <div class="d-flex align-items-center fw-bold fs-6">
						<a href="https://keenthemes.com" class="text-muted text-hover-primary px-2">About</a>
						<a href="mailto:support@keenthemes.com" class="text-muted text-hover-primary px-2">Contact</a>
						<a href="https://1.envato.market/EA4JP" class="text-muted text-hover-primary px-2">Contact Us</a>
					</div> -->
                <!--end::Links-->
            </div>
            <!--end::Footer-->
        </div>
        <!--end::Authentication - Sign-in-->
    </div>
    <!--end::Main-->
    <script src="assets/js/jquery.js"></script>
    <script>
        $("#submit").click(()=>{
            $("#pricefinal").hide(500);
            $("#mobile-item").hide(500);
            $("#offerPrice").remove();
            $("#submit").hide(500);
            $("#title").removeClass('mb-10');
            $("#title").addClass('mb-0');
            $("#form").show(1000);
            $("#close").click(()=>{
                location.reload();
            })
            $("#verify").click(()=>{
                console.log("test")
                // $("#form").hide(250);
                // $("#kt_accordion_2").fadeIn(1000);
            })
        })
        $(document).ready(function(){
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-center",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
            };
        })

    </script>
    <script>var hostUrl = "assets/";</script>
    <!--begin::Javascript-->
    <!--begin::Global Javascript Bundle(used by all pages)-->
    <script src="assets/plugins/global/plugins.bundle.js"></script>
    <script src="assets/js/scripts.bundle.js"></script>
    <script src="assets/plugins/global/plugins.bundle.js"></script>
    <script>
        var myDropzone = new Dropzone("#dropcoll", {
            url: "https://keenthemes.com/scripts/void.php", // Set the url for your upload script location
            paramName: "file", // The name that will be used to transfer the file
            maxFiles: 10,
            maxFilesize: 10, // MB
            addRemoveLinks: true,
            accept: function(file, done) {
                if (file.name == "wow.jpg") {
                    done("نه،اشتباه شد نداری.");
                } else {
                    done();
                }
            }
        });
        function clipboard(code) {
            navigator.clipboard.writeText(code);
            toastr.success("شماره کارت در کلیپ بورد کپی شد");
        }
    </script>
    <!--end::Global Javascript Bundle-->
    <!--begin::Page Custom Javascript(used by this page)-->
    <!--end::Page Custom Javascript-->
    <!--end::Javascript-->
</body>
<!--end::Body-->

</html>