<!DOCTYPE html>
<!--
Author: Keenthemes
Product Name: Metronic - Bootstrap 5 HTML, VueJS, React, Angular & Laravel Admin Dashboard Theme
Purchase: https://1.envato.market/EA4JP
Website: http://www.keenthemes.com
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
License: For each use you must have a valid license purchased only from above link in order to legally use the theme for your project.
-->
<html lang="en">
<!--begin::Head-->

<head>
    <base href="../../">
    <title>فاکتور خرید</title>
    <meta name="description"
        content="دستک یک سامانه کاربردی برای فروشنده های اینترنتیه! اگه از شماره کارت دادن توی دایرکت و پیوی خسته شدی دستک واست یه پیشنهاد جذاااب داره!" />
    <meta name="keywords" content="دستک ، فاکتورساز ، فاکتورساز آنلاین" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="دستک؛ فاکتوری با قابلیت های جادویی!" />
    <meta property="og:url" content="https://keenthemes.com/metronic" />
    <meta property="og:site_name" content="دستک | فاکتورساز دیجیتالی" />
    <link rel="canonical" href="https://preview.keenthemes.com/metronic8" />
    <link rel="shortcut icon" href="assets/media/logos/favicon.ico" />
    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <!--end::Fonts-->

    <link href="assets/plugins/custom/prismjs/prismjs.bundle.rtl.css" rel="stylesheet" type="text/css" />
    <link href="assets/plugins/global/plugins.bundle.rtl.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/style.bundle.rtl.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="assets/css/rtl.css">
    <link href="assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css"/>
</head>
<!--end::Head-->
<!--begin::Body-->

<body id="kt_body" class="bg-body"> 
    <!--begin::Main-->
    <div class="d-flex flex-column flex-root">
        <!--begin::Authentication - Sign-in -->
        <div
            class="d-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed">
            <!--begin::Content-->
            <div class="d-flex flex-center flex-column flex-column-fluid pb-lg-20" >
                <!--begin::Logo-->
                <!-- <a href="../../demo9/dist/index.html" class="mb-12">
						<img alt="Logo" src="assets/media/logos/logo-1.svg" class="h-40px" />
					</a> -->
                <!--end::Logo-->
                <!--begin::Wrapper-->
                <div class="w-80 w-lg-500px bg-body rounded shadow-sm p-10 p-lg-15 mx-auto"  style="margin-top: 40px;" dir="rtl">
                    <!--begin::Form-->
                    <!-- <form class="form w-100" novalidate="novalidate" id="kt_sign_in_form" action="#"> -->
                    <!--begin::Heading-->
                    <div class="text-center mb-10" id="title">
                        <!--begin::Title-->
                        <% { %>
                        <h1 class="mb-3 text-start"><%= data.account.name  %> 
                        <% if(data.status==1) {%><span class="badge badge-info float-end">ایجاد شده</span><% } %>
                        <% if(data.status==2) {%><span class="badge badge-primary float-end">در انتظار پرداخت</span><% } %>
                        <% if(data.status==3) {%><span class="badge badge-danger float-end">انصراف از پرداخت</span><% } %>
                        <% if(data.status==4) {%><span class="badge badge-warning float-end">منقضی شده</span><% } %>
                        <% if(data.status==5) {%><span class="badge badge-success float-end">پرداخت شده</span><% } %>
                        </h1>
                        <!--end::Title-->
                        <% } %>
                    </div>
                    <!--end::Heading-->
                    <div class="fv-row mb-10" id="mobile-item">
                        <!--begin::Table container-->
                        <div class="table-responsive" id="showProduct" style="direction: rtl; max-height: 300px; overflow-y: scroll; ;">
                            <!--begin::Table-->
                            <table class="table align-middle gs-0 gy-4">
                                <!--begin::Table head-->
                                <thead class="bg-table">
                                    <tr class="fw-bolder text-muted bg-light bg-table">
                                        <th class="ps-4 min-w-50px rounded-start">#</th>
                                        <th class="min-w-20px text-center">نام محصول</th>
                                        <th class="min-w-50px text-center">تعداد</th>
                                        <th class="min-w-20px rounded-end text-end pe-7">قیمت</th>
                                    </tr>
                                </thead>
                                <!--end::Table head-->
                                <!--begin::Table body-->
                                <tbody>
                                    <% // function for template 000,000
                                        function separate(Number) { Number+='' ; Number=Number.replace(',', '' );
                                        x=Number.split('.'); y=x[0]; z=x.length> 1 ? '.' + x[1] : '';
                                        var rgx = /(\d+)(\d{3})/;
                                        while (rgx.test(y))
                                        y= y.replace(rgx, '$1' + ',' + '$2');
                                        return y+ z;
                                        }
                                        let counter =1;
                                        data.products.forEach(item=> {%>
                                        <tr>
                                            <td>
                                                <div class="d-flex align-items-center" style="margin-right: 10px;">
                                                    <div class="d-flex justify-content-start flex-column">
                                                        <span class="text-dark fw-bolder text-hover-primary mb-1 fs-6">
                                                            <span class="badge badge-circle badge-light"><%= counter %></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="d-flex align-items-center justify-content-center">
                                                    <div class="d-flex justify-content-start flex-column">
                                                        <span class="text-dark fw-bolder text-hover-primary mb-1 fs-6">
                                                            <%= item.title %>
                                                        </span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="d-flex align-items-center justify-content-center">
                                                    <div class="d-flex justify-content-start flex-column">
                                                        <span class="text-dark fw-bolder text-hover-primary mb-1 fs-6">
                                                            <%= item.count %>
                                                        </span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-end">
                                                <div class="d-flex align-items-center justify-content-end">
                                                    <div class="d-flex justify-content-start flex-column">
                                                        <span class="text-dark fw-bolder text-hover-primary mb-1 fs-6"
                                                            style="margin-left: 33px;">
                                                            <%= separate(item.price*item.count) %>
                                                        </span>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <% counter++ }); %>
                                </tbody>
                          
                                <!--end::Table body-->
                            </table>
                                <!--end::Table-->
                        </div>
                        <!--end::Table container-->
                    </div>

                    <%{ let ave=0; let offer=data.offPercent; data.products.forEach(i=> {
                    ave += parseInt(i.price*i.count);
                    });
                    function separate(Number)
                    {
                    Number+= '';
                    Number= Number.replace(',', '');
                    x = Number.split('.');
                    y = x[0];
                    z= x.length > 1 ? '.' + x[1] : '';
                    var rgx = /(\d+)(\d{3})/;
                    while (rgx.test(y))
                    y= y.replace(rgx, '$1' + ',' + '$2');
                    return y+ z;
                    } %>
                    <div id="offerPrice" class="d-flex align-items-center" style="margin-right: 10px;">
                        <div class="d-flex justify-content-start">
                            <span class="text-dark fw-bolder text-hover-primary mb-1 fs-6">
                                <span class="badge badge-light">مجموع:<span class="badge text-info">
                                        <%= separate(ave) %> تومان
                                    </span></span>
                            </span>
                        </div>
                        <div class="d-flex justify-content-end ms-auto">
                            <span class="text-dark fw-bolder text-hover-primary mb-1 fs-6"
                                style="margin-left: 10px;">
                                <span class="badge badge-light">تخفیف:<span class="badge text-muted">
                                        <% if(offer==null){ %>
                                            ندارد
                                        <% } else{ %>
                                            <%=offer+"%" %>  
                                        <%}%>      
                                    </span></span>
                            </span>
                        </div>
                    </div>
                    <% } %>
                    <div id="pricefinal" class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 mt-5 position-relative" style="overflow: hidden; z-index: 1 !important;">
                        <!-- <div class="left-semi-circle"></div>
                        <div class="right-semi-circle"></div> -->
                        <% { let ave=0; let offer=data.offPercent; data.products.forEach(i=> {
                            ave += parseInt(i.price*i.count);
                            }); 
                            let finalPrice = ave/100*(100-data.offPercent)
                            %>
                        <!--begin::Number-->
                        <div class="d-flex align-items-center justify-content-center">
                            <div class="fs-2 fw-bolder text-primary" data-kt-countup="true"data-kt-countup-value="<%=finalPrice %>">0</div> <span class="text-primary ms-2 fs-2 fw-bolder">تومان</span>
                        </div>
                        <!--end::Number-->

                        <!--begin::Label-->
                        <div class="fw-bold fs-6 text-center">قیمت نهایی</div>
                        <!--end::Label-->
                        <% } %>
                    </div>
                    <br>
                    <div class="text-center d-block">
                        <!--begin::Submit button-->
                        <div>
                            <button id="submit" style="margin-right: -12px;" class="btn btn-lg btn-success w-100">
                                <span class="indicator-label">پرداخت</span>
                                <span class="indicator-progress">چند لحظه وایسا...</span>
                                <!-- <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span> -->
                            </button>
                        </div>
                    </div>
                    <div id="form" style="display: none;">
                        <!--begin:Form-->
                        <form class="form">
                            <!--begin::Input group-->
                            <div class="fv-row mb-7">
                                <!--begin::Label-->
                                <label class="required fs-6 fw-bold mb-2">نام و نام خانوادگی: </label>
                                <!--end::Label-->
                                <!--begin::Input-->
                                <input type="text" class="form-control form-control-solid" placeholder="نام و نام خانوادگی"/>
                                <!--end::Input-->
                            </div>
                            <!--end::Input group-->
                            <!--begin::Input group-->
                            <div class="fv-row mb-7">
                                <!--begin::Label-->
                                <label class="required fs-6 fw-bold mb-2">شماره تماس: </label>
                                <!--end::Label-->
                                <!--begin::Input-->
                                <input type="text" class="form-control form-control-solid" placeholder="شماره تماست"/>
                                <!--end::Input-->
                            </div>
                            <!--end::Input group-->
                            <div class="fv-row mb-7">
                                <!--begin::Label-->
                                <label class="required fs-6 fw-bold mb-2">استان</label>
                                <!--end::Label-->
                                <!--begin::Input-->
                                <select class="form-select form-select-solid" data-control="select2" onchange="setCity()" id="province">
                                    <option value="">لطفاً یک استان انتخاب کنید</option>
                                </select>
                                <!--end::Input-->
                            </div>
                            <!--begin::Input group-->

                            <div class="fv-row mb-7">
                                <!--begin::Label-->
                                <label class="required fs-6 fw-bold mb-2">شهر</label>
                                <!--end::Label-->
                                <!--begin::Input-->
                                <select class="form-select form-select-solid" data-control="select2" id="city">
                                    <option value="">ابتدا یک استان انتخاب کنید</option>
                                </select>
                                <!--end::Input-->
                            </div>

                            <div class="fv-row mb-7">
                                <!--begin::Label-->
                                <label class="fs-6 fw-bold mb-2">کد پستی: </label>
                                <!--end::Label-->
                                <!--begin::Input-->
                                <input type="text" class="form-control form-control-solid" placeholder="کد پستی" />
                                <!--end::Input-->
                            </div>
                            <!--end::Input group-->
                            <!--begin::Input group-->
                            <div class="fv-row mb-7">
                                <!--begin::Label-->
                                <label class="required fs-6 fw-bold mb-2">ادرس: </label>
                                <!--end::Label-->
                                <!--begin::Input-->
                                <input type="text" class="form-control form-control-solid" placeholder="ادرستو اینجا بنویس" />
                                <!--end::Input-->
                            </div>

                        </form>
                        <div class="text-center">
                            <button data-bs-dismiss="modal" class="btn btn-light me-3" id="close">انصراف</button>
                            <button class="btn btn-primary" id="verify"">
                                <span class=" indicator-label">ثبت مشخصات</span>
                                <span class="indicator-progress">کمی صبر...
                                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                            </button>
                        </div>
                        <!--end:Form-->
                    </div>
                    <!--start::Actions-->
                    <!--begin::Accordion-->
                    <div class="accordion accordion-icon-toggle" id="kt_accordion_2" style="display: none;">
                        <!--begin::Item-->
                        <div class="mb-5">
                            <!--begin::Header-->
                            <div class="accordion-header py-3 d-flex">
                                <button class="btn btn-lg btn-light-dark w-50" style="padding: 10px;" id="btnCard" data-bs-toggle="collapse" data-bs-target="#kt_accordion_2_item_1">
                                    <span class="indicator-label">کارت به کارت</span>
                                    <i class="fas fa-regular fa-credit-card fs-4 ms-4"></i>
                                </button>
                                <button class="btn btn-lg btn-light-dark w-50 ms-5" style="padding: 10px;">
                                    <span class="indicator-label">پرداخت آنلاین</span>
                                    <i class="fas fa-solid fa-globe fs-4 ms-4"></i>
                                    <span class="indicator-progress">چند لحظه وایسا...</span>
                                    <!-- <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span> -->
                                </button>
                            </div>
                            <!--end::Header-->

                            <!--begin::Body-->
                     
                            <!--end::Body-->
                        </div>
                        <!--end::Item-->
                    </div>
                    <!--end::Accordion-->
                    <!--end::Actions-->
                    <!--end::Actions-->
                </div>
                <!--end::Wrapper-->
            </div>
            <!--end::Content-->
            <!--begin::Footer-->
            <div class="d-flex flex-center flex-column-auto p-10">
                <!--begin::Links-->
                <!-- <div class="d-flex align-items-center fw-bold fs-6">
						<a href="https://keenthemes.com" class="text-muted text-hover-primary px-2">About</a>
						<a href="mailto:support@keenthemes.com" class="text-muted text-hover-primary px-2">Contact</a>
						<a href="https://1.envato.market/EA4JP" class="text-muted text-hover-primary px-2">Contact Us</a>
					</div> -->
                <!--end::Links-->
            </div>
            <!--end::Footer-->
        </div>
        <!--end::Authentication - Sign-in-->
    </div>
    <!--end::Main-->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/province.js"></script>
    <script src="assets/js/cities.js"></script>
    <script>
        // دسترسی به اطلاعات استان‌ها از فایل province.js
        const provinces = province;
        const citiess = cities;
        const provinceSelect = document.getElementById("province");
        const citiesSelect = document.getElementById("city");

        provinces.forEach(province => {
            const option = document.createElement("option");
            option.value = province.slug;
            option.textContent = province.name;
            option.value = province.id
            provinceSelect.appendChild(option);
        });
        
        function setCity(){
            $("#city").empty()
            let province_id = ($("#province").val())
            citiess.forEach(city => {
                if(city.province_id == province_id){
                    const option = document.createElement("option");
                    option.value = city.slug;
                    option.textContent = city.name;
                    citiesSelect.appendChild(option);
                }
            });
        }

        $("#submit").click(()=>{
            $("#pricefinal").slideUp();
            $("#mobile-item").slideUp();
            $("#offerPrice").remove();
            $("#submit").slideUp();
            $("#title").removeClass('mb-10');
            $("#title").addClass('mb-0');
            $("#form").slideDown(2000);
            $("#close").click(()=>{
                location.reload();
            })
            $("#verify").click(()=>{
                console.log("test")
                // $("#form").hide(250);
                // $("#kt_accordion_2").fadeIn(1000);
            })
        })
        $(document).ready(function(){
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-center",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
            };
        })

    </script>
    <script>var hostUrl = "assets/";</script>
    <!--begin::Javascript-->
    <!--begin::Global Javascript Bundle(used by all pages)-->
    <script src="assets/plugins/global/plugins.bundle.js"></script>
    <script src="assets/js/scripts.bundle.js"></script>
    <script src="assets/plugins/global/plugins.bundle.js"></script>
    <script>
        var myDropzone = new Dropzone("#dropcoll", {
            url: "https://keenthemes.com/scripts/void.php", // Set the url for your upload script location
            paramName: "file", // The name that will be used to transfer the file
            maxFiles: 10,
            maxFilesize: 10, // MB
            addRemoveLinks: true,
            accept: function(file, done) {
                if (file.name == "wow.jpg") {
                    done("نه،اشتباه شد نداری.");
                } else {
                    done();
                }
            }
        });
        function clipboard(code) {
            navigator.clipboard.writeText(code);
            toastr.success("شماره کارت در کلیپ بورد کپی شد");
        }
    </script>
    <!--end::Global Javascript Bundle-->
    <!--begin::Page Custom Javascript(used by this page)-->
    <!--end::Page Custom Javascript-->
    <!--end::Javascript-->
</body>
<!--end::Body-->

</html>